#contenido{
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

.caja1{
    width: 500px;
    height: 100px;
    background: linear-gradient(90deg, rgb(18, 65, 128) 0%, rgba(9,121,79,1) 35%, rgba(0,212,255,1) 100%);
    position: sticky;
    top: 0;
}

@-webkit-keyframes mover_caja{
0% {left:90%; }
50%{left:10%; }
100%{left:90%; }
}
@-moz-keyframes mover caja{
O*{left:90%;}
50%{left:10%;}
100%{left:90%;}
}
.caja1{
-webkit-animation:mover_caja 5s infinite;
-moz-animation:mover_caja 5s infinite;
}